<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h2>Registrierung</h2>
          </div>
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input id="username" class="form-control" placeholder="Username" type="text" [(ngModel)]="username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input id="email" class="form-control" placeholder="Email" type="email" [(ngModel)]="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input id="passwordInput" id="passwordInput" class="form-control" placeholder="Passwort" type="password" [(ngModel)]="password">
              <div class="input-group-append">
                <span class="input-group-text" id="togglePassword">
                  <i class="fas fa-eye"></i>
                </span>
              </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input id="invitationCode" class="form-control" placeholder="Einladungscode" type="text" [(ngModel)]="invitationCode">
              </div>
            </div>
           <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <!--in dem href muss noch die AGB Seite eingefügt werden-->
                    <span class="text-muted">Ich stimme den <a href="" target="_blank">AGBs</a> zu</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button id="createAccountBtn" type="button" class="btn btn-primary mt-4" [disabled]="!isFormValid" [ngClass]="{'disabled': !isFormValid}" (click)="register (username, email, password, invitationCode)">Account erstellen</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
