<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;  background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 order-xl-1" style="position:relative; top: -300px; left:220px">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0" style="font-size:20px; font-weight:bold;">Mein Account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Benutzerdaten</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Vorname</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Max">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nachname</label>
                    <input type="email" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Mustermann">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="max.mustermann11">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email-Adresse</label>
                    <input type="text" id="input-email" class="form-control form-control-alternative" placeholder="maxmustermann@gmail.com">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Password -->
            <h6 class="heading-small text-muted mb-4">Passwort</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-currentPassword">Aktuelles Passwort</label>
                    <input style="width: 320px"id="input-currentPassword" class="form-control form-control-alternative" placeholder="Aktuelles Passwort" value="123456789" type="password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-newPassword">Neues Passwort</label>
                    <input style="width: 320px" type="text" id="input-newPassword" class="form-control form-control-alternative" placeholder="NewPassword" value="Neues Password">
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-confirmNewPassword">Neues Passwort bestätigen</label>
                      <input style="width: 320px" type="text" id="input-confirmNewPassword" class="form-control form-control-alternative" placeholder="confirmNewPassword" value="Neues Password bestätigen">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <button style="position:relative; left: 630px"type="button" class="btn btn-primary float-right">Übernehmen</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
