<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Felder mit Puls, MaxPuls, Schritte und AverageSpeed -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 18px; font-weight:bold">Puls</h5>
                  <span class="h2 font-weight-bold mb-0">{{ selectedTraining.averagePulse }} Schläge/Min</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-heart" style="color:white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 18px; font-weight:bold">Max. Puls</h5>
                  <span class="h2 font-weight-bold mb-0">{{selectedTraining.spo2 }} Schläge/Min</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-lungs"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 18px; font-weight:bold">Schritte</h5>
                  <span class="h2 font-weight-bold mb-0">{{selectedTraining.sumSteps }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-shoe-prints"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 18px; font-weight:bold">⌀-Geschwindigkeit</h5>
                  <span class="h2 font-weight-bold mb-0">{{selectedTraining.avgSpeed }} km/h</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-gauge-high"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!--Chart mit Puls und Geschwindigkeitswerten-->
<div class="container-fluid mt--7 text-center">
  <div class="row">
    <div class="col-xl-8 mx-auto mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow position-relative">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <div class="position-absolute text-left pl-md-4">
                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                <h2 class="text-white mb-0">Trainingsverlauf</h2>
              </div>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item" (click)="clicked = 'puls'; updateOptions()" [ngClass]="{'active': clicked === 'puls'}">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngStyle]="{ 'background-color': clicked === 'puls' ? '#8e9bd6' : '' }">
                    <span class="d-none d-md-block">Puls</span>
                  </a>
                </li>
                <li class="nav-item" (click)="clicked = 'geschwindigkeit'; updateOptions()" [ngClass]="{'active': clicked === 'geschwindigkeit'}">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngStyle]="{ 'background-color': clicked === 'geschwindigkeit' ? '#8e9bd6' : '' }">
                    <span class="d-none d-md-block">Geschwindigkeit</span>
                  </a>
                </li>
              </ul>
            </div>            
          </div>
        </div>
        <div class="card-body">
          <canvas id="chart-sales" style="height:400px"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Tabelle mit Trainingseinheiten + style für den Hover-->
<style>
  .table tr:hover {
    background-color: #f2f2f2;
  }
</style>
<div class="row mt-5">
  <div class="col-xl-8 mb-5 mx-auto mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Trainingseinheiten</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Datum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let training of trainings" (click)="TableClick($event,training)" style="cursor: pointer;">
              <th scope="row">
                {{ training.date | date:'dd.MM.yy'  }}
              </th>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

